	   <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-light ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid"  >
	      <a class="navbar-brand text-dark" href="/">Drive<span>Wave</span></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul  class="navbar-nav ml-auto ">
	          <li class="nav-item active"><a href="/" class="nav-link " style="color: black;" >Home</a></li>
			  
	          {{!-- <li class="nav-item"><a href="services" class="nav-link">Services</a></li> --}}
	          {{!-- <li class="nav-item"><a href="pricing" class="nav-link">Pricing</a></li> --}}
	          <li class="nav-item"><a href="cars" class="nav-link  " style="color: black;" >Cars</a></li>
	          <li class="nav-item"><a href="bookedCars" class="nav-link  " style="color: black;" >Bookings</a></li>

              {{#if name}}
			  
	          <li  style=" width:fit-content;height:35px ;margin-top:10px ;border-radius: 15px;border-radius:10px" class="nav-item"><a style="margin-top: -10px;"  href="/profile" style="" class="nav-link text-dark">{{name}}</a></li>
             
             
            {{else}}
	          <li style="background-color:#09f1a4;width:fit-content ;height:35px ;margin-top:10px ;border-radius: 15px;border-radius:10px"  class="nav-item"><a style="margin-top: -10px;" href="/login" class="nav-link text-dark">Login</a></li>

              {{/if}}
	        </ul>
	      </div>
	    </div>
	  </nav>