<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login form</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/loginPage.css">
</head>
<body>
  <main>
    <header>
      <h4>Login</h4>
    </header>
    <br>
    <br>
    <form action="/admin/Dashboard"  method="post">
      {{!-- <div class="form_wrapper">
        <input id="name" type="text" name="name" >
        <label for="input">Username</label>
        <i class="material-icons">person</i>
      </div> --}}
       
      <div class="form_wrapper">
        <input id="email" type="text" name="email" >
        <label for="input">Email</label>
        <i class="material-icons">email</i>

      </div>
      
      <div class="form_wrapper">
        <input id="password" type="password" name="password" >
        <label for="password">Password</label>
        <i class="material-icons">lock</i>

      </div>
      <div id="error-message"></div>
       {{#if error}}
    <div class="error-message">
      {{error}}
    </div>
  {{/if}}
     
      <button type="submit" onclick="return validateForm()">Login</button>
    </form>
    <form action="/admin/login/getOtp" method="get">
            <button class="mt-2"  type="submit">Get Otp</button>
      </form>
  </main>
</body>
    <script src="/script/loginPage.js"></script>

</html>