<section style="background-color: #23916c;" class="ftco-section ftco-car-details col-md-12  px-md-3 ">
      <div class="container p-md-4 p-4  col-md-12">
      	<div class="row justify-content-center p-1 "> 
            {{#each data}}
                      <div style="background-color: rgba(235, 240, 235, 0.979);" class="car-wrap rounded ftco-animate col-md-12 row py-4  justify-content-center align-middle m-2">
                         <p class="col-md-12">Pick Date: {{this.pickDate}}</p>
      <p class="col-md-12">Drop Date: {{this.dropDate}}</p>
      <p class="col-md-12">Email: {{this.email}}</p>
      
      <p class="col-md-12">Status: {{this.status}}</p>
                      </div>
                    
                 {{/each}}    
        </div>
      </div>
    </section>