    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<section class="hero-wrap hero-wrap-2 js- " style="background-image: url('images/bg_3.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
      <div class="col-md-9 ftco-animate pb-5">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                class="ion-ios-arrow-forward"></i></a></span> <span>Contact <i class="ion-ios-arrow-forward"></i></span>
        </p>
        <h1 class="mb-3 bread">Contact Us</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section contact-section">
  <div class="container">
    <div class="row d-flex mb-5 contact-info">
      <div class="col-md-4">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="border w-100 p-4 rounded mb-2 d-flex">
              <div class="icon mr-3">
                <span class="icon-map-o"></span>
              </div>
              <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="border w-100 p-4 rounded mb-2 d-flex">
              <div class="icon mr-3">
                <span class="icon-mobile-phone"></span>
              </div>
              <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="border w-100 p-4 rounded mb-2 d-flex">
              <div class="icon mr-3">
                <span class="icon-envelope-o"></span>
              </div>
              <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 block-9 mb-md-5">
        <form action='#' id="contactForm" class="bg-light p-5 contact-form">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Your Name">
            <p style="color: red; font-size:small" id="nameError"></p>
          </div>
          <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="Your Email">
            <p style="color: red; font-size:small" id="emailError"></p>

          </div>
          <div class="form-group">
            <input type="text" name="subject" class="form-control" placeholder="Subject">
            <p style="color: red; font-size:small" id="subjectError"></p>

          </div>
          <div class="form-group">
            <textarea name="message" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
            <p style="color: red; font-size:small" id="messageError"></p>

          </div>
          <div class="form-group">

            <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
          </div>
        </form>

      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div id="map" class="bg-white"></div>
      </div>
    </div>
  </div>
</section>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  const contactFormInput = document.getElementById('contactForm')
  const nameError = document.getElementById('nameError')
  const emailError = document.getElementById('emailError')
  const subjectError = document.getElementById('subjectError')
  const messageError = document.getElementById('messageError')

  const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;



  contactFormInput.addEventListener('submit', function (event) {
    event.preventDefault();
    const formData = new FormData(event.target);
    const { name, email, subject, message } = Object.fromEntries(formData.entries());

    let isValid = true; // Flag to track overall form validity

    if (!name) {
      nameError.innerHTML = 'Name is required';
      isValid = false;
    } else {
      nameError.innerHTML = '';
    }

    if (!email) {
      emailError.innerHTML = 'Email is required';
      isValid = false;
    } else if (!emailRegex.test(email)) {
      emailError.innerHTML = 'Enter a valid email';
      isValid = false;
    } else {
      emailError.innerHTML = '';
    }

    if (!subject) {
      subjectError.innerHTML = 'Subject is required';
      isValid = false;
    } else {
      subjectError.innerHTML = '';
    }

    if (!message) {
      messageError.innerHTML = 'Message is required';
      isValid = false;
    } else {
      messageError.innerHTML = '';
    }

    if (isValid) {
      Swal.fire({
                title: "Good job!",
                text: "You clicked the button!",
                icon: "success"
            }).then((result) => {
                // Reload the page after SweetAlert is closed
                window.location.href = '/';
            });
      // If form is valid, make Axios API call here
      axios.post('/Message', { name, email, subject, message })
        .then(response => {
          // Handle response if needed
          console.log(response.data);
          document.getElementById("ftco-loader").style.display = "none";

        })
        .catch(error => {
          // Handle error if needed
          console.error('Error:', error);
        });
    }
  });


</script>