
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Form-v10 by Colorlib</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="css/montserrat-font.css">
	<link rel="stylesheet" type="text/css" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="css/stylesignUp.css"/>
</head>
<body class="form-v10">
	<div class="page-content">
		<div class="form-v10-content">
			<form class="form-detail"  id="contactForm"  method="post" id="myform">
				<div class="form-left">
					<h2>General Infomation</h2>
					
						<div class="form-row ">
							<input type="text" name="name" id="name" class="input-text" placeholder="User Name" >
						</div>

                        	<div class="form-row">
						<input type="number" name="age" class="age" id="age" placeholder="Age" >
					</div>
                     <div class="form-row ">
							<input type="text" name="password1" id="password1" class="input-text" placeholder="Password" >
						</div>
                        
                        <div class="form-row ">
							<input type="text" name="password" id="password" class="input-text" placeholder="Conform Password" >
						</div>
                         <div class="form-row ">
                              <span class="hint" id="hint">Password must be at least 8 characters with one uppercase letter and one
                        special character.</span>
                            <p id="error"></p>

						</div>


				</div>
				<div class="form-right">
					<h2>Contact Details</h2>
                    <div class="form-row">
						<input type="text" name="email" id="email" class="input-text"  placeholder="Your Email">
					</div>
                    <div class="form-row">
					
							<input type="phone" name="phone" class="phone" id="phone" placeholder="Phone Number" >
					</div>
					<div class="form-row">
						<input type="text" name="houseName" class="houseName" id="houseName" placeholder="House Name" >
					</div>
					
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="text" name="zip" class="zip" id="zip" placeholder="Zip Code" >
						</div>
						<div class="form-row form-row-2">
							
						<input type="text" name="place" class="place" id="place" placeholder="place" >
							
						</div>
					</div>
					<div class="form-row">
						<input type="text" name="licenseNumber" class="license" id="license" placeholder="License Number" >
						
						</span>
					</div>
					
					
					<div class="form-checkbox">
						<label class="container"><p>I do accept the <a href="#"  data-toggle="modal" data-target="#exampleModal" class="text">Terms and Conditions</a> of your site.</p>
						  	<input type="checkbox" name="checkbox" >
						  	<span class="checkmark"></span>
						</label>
					</div>
					<div class="form-row-last">
						<input type="submit"  name="register" class="register" >
					</div>
					
				</div>
				
			</form>
		</div>
	</div>

	{{!-- // modal --}}
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     
      <div class="modal-body">
     <center><h2>Terms And Conditions</h2></center> 
	 <p>
		Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
 
         The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
	 </p>
	         <button type="button" class="btn btn-primary" data-dismiss="modal">Accept </button>

      </div>
      
    </div>
  </div>
</div>


{{!-- modal --}}

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>




<script>
	const passwordPattern = /^(?=.*[A-Z])(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$/;
const hint = document.getElementById('hint')
const licenseRegex = /^[A-Z]{2}-\d{2}\/[A-Z]{3}\/\d{2}\/\d{6}$/;


const formDataElement = document.getElementById('contactForm');

formDataElement.addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent form submission

    const formData = new FormData(event.target);

    const { name, email, password1, password, age,phone,place,zip, houseName, licenseNumber} = Object.fromEntries(formData.entries());

    // Perform form validation here
    const errors = [];

    if (!name) {
        errors.push('Name is required');
    }
    if (!email) {
        errors.push('Email is required');
    }
	if (!age) {
        errors.push('Age is require');

    } else if (parseInt(age) < 18) {
        errors.push('Your Not eligible for register this website');

	}
    if (!password1 || !password) {
        errors.push('Both password fields are required');
    } else if (password1 !== password) {
        errors.push('Passwords do not match');
    } else if (!passwordPattern.test(password)) {
        errors.push('Password must contain at least 8 characters, including one uppercase letter and one special character');
    }
	
	if (licenseNumber) {
    if (!licenseRegex.test(licenseNumber)) {
        errors.push('Enter a valid license number');
    }
	    const checkbox = formData.get('checkbox');
    if (!checkbox) {
        errors.push('You must accept the Terms and Conditions');
    }

}


    // If there are errors, display them and prevent form submission
    if (errors.length > 0) {
        displayErrors(errors);
    } else {
        // If no errors, submit the form using Axios
        axios.post('/registration', { name, email, password1, password, age,phone,place,zip, houseName, licenseNumber })
            .then(response => {
                console.log('Form submitted successfully');
                // Handle success response
				console.log(response)
				window.location.href = '/'
            })
            .catch(error => {
                console.error('Error submitting form:', error);
                // Handle error response
            });
    }
});

function displayErrors(errors) {
    const errorElement = document.getElementById('error');
    errorElement.innerHTML = ''; // Clear previous error messages

    if (errors.length > 0) {
        
            const errorMessage = document.createElement('p');
            errorMessage.textContent = errors[0];
            errorMessage.style.color = 'red'; 
            errorMessage.style.fontSize = '13px'; 
            errorElement.appendChild(errorMessage);
        
    }
}



</script>